<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Cafe Management</a>
        <a class="nav-link" href="/Cafe">Quản lý món</a>
        <a class="nav-link" href="/Cafe/Create">Thêm món</a>
    </div>
</nav>
